 *{
            margin: 0;
            padding: 0ch;
        }
        .header h2{
                    
        color: rgb(252, 70, 5);
        margin-left: 20px;
        margin-top: 20px;
        word-spacing: 5px;
        font-weight: 700;
        letter-spacing: 4px;
        font-family: "Poppins", sans-serif !important;
        }
        .main form{
           display:flex;
          flex-direction:column;
          align-items:center;
          justify-content:center;
           padding:20px;
           
                      font-family: "Poppins", sans-serif !important;
        }
.main h2{
       display:flex;
          flex-direction:column;
          align-items:center;
          justify-content:center;
           padding:25px;
           font-family: "Poppins", sans-serif !important;

}
  .header{
    display:flex;
    font-family: "Poppins", sans-serif !important;
    margin-bottom:10px;
      box-shadow:2px 2px lightgrey;
      padding:15px;     
    border-radius:20px;
    border-top:2px solid lightgrey;
    margin-top:15px;
    position:sticky;
    top:0;
    left:0;
    background-color:white;
    right:0;
  }
   .homeimg{
         margin-left:auto;
            margin-top:20px;
        }
    .homeimg a{
        margin-right:25px;
        font-size:20px;
        text-decoration:none;
        color:black;
    }
  
    .homeimg a:hover{
      opacity:0.5; 
       text-decoration:none;  
       background-color:lightgrey;
      padding:6px; 
        border-radius:16px;
        
    }
input{
     padding:12px;
     margin:12px;
     width:250px;
     font-weight:900;
     border-radius:20px;
}
.button{
     background-color:rgb(252, 70, 5) ;
     border:none;
     border-radius:20px;
     color:white;
     
     
}
.button:hover{
   color: rgb(252, 70, 5);
   background:white;
   border:1.5px solid rgb(252, 70, 5);
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    
}
.socialmedia li {
    list-style-type: none;
    padding: 10px;
    
}
.socialmedia li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.socialmedia li a:hover{
    text-decoration: none;
    color:black;
    font-size: 35px;

    transition:ease-out 0.3s;

   border-bottom:1px solid black;
}
footer {
      text-align: center;
      padding: 25px ;
      background: rgb(252, 70, 5);
      color: white;
      margin-top: 5px;
    }

  .pop-container{
    display:none;
    align-items:center;
    justify-content:center;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.8); /* FIXED */
    z-index:9999;
}
.pop-up button{
     background-color:rgb(252, 70, 5) ;
     border:none;
     border-radius:20px;
     color:white;
     width:200px;
     padding:10px;
     margin-top:20px;
}
.pop-up i{
     color:green;
     margin-bottom:15px;
     font-size:60px;
}
@keyframes move{
     from{transform:scale(0.3);}
     to{transform:scale(1);}
}
.pop-up{
    display:flex;
     animation:move 1s;
     border-radius:25px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    height:250px;
    background-color:white;
    width:300px;
     padding:10px;
    box-shadow:2px 2px black;
}
body {font-family: "Poppins", sans-serif !important;
}
.text-area{
     width:min(350px,300px);
     height:min(100px,150px);
     padding:min(20px,8%);
     box-sizing:border-box; 
     border-radius:25px; 
     border:2px black solid;
}

